<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{887,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ak_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{52,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difficult_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,180}</string>
                <key>textureRect</key>
                <string>{{310,148},{600,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{148,0},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fade_sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{11,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fade_sprite_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1585,0},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,220}</string>
                <key>spriteSourceSize</key>
                <string>{401,220}</string>
                <key>textureRect</key>
                <string>{{1212,148},{401,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{911,148},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,350}</string>
                <key>spriteSourceSize</key>
                <string>{450,350}</string>
                <key>textureRect</key>
                <string>{{550,369},{450,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1444,0},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,124}</string>
                <key>spriteSourceSize</key>
                <string>{244,124}</string>
                <key>textureRect</key>
                <string>{{1068,0},{244,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{154,170}</string>
                <key>textureRect</key>
                <string>{{155,148},{154,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,768}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{0,909},{1366,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,300}</string>
                <key>spriteSourceSize</key>
                <string>{549,300}</string>
                <key>textureRect</key>
                <string>{{0,369},{549,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{67,0},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,539}</string>
                <key>textureRect</key>
                <string>{{1001,369},{800,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pistol_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{525,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pistol_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{22,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{211,0},{78,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,108}</string>
                <key>spriteSourceSize</key>
                <string>{234,108}</string>
                <key>textureRect</key>
                <string>{{290,0},{234,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reload_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1313,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{154,170}</string>
                <key>textureRect</key>
                <string>{{0,148},{154,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shootgun_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{706,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shootgun_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{37,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{1801,1677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29295b454f9aaa1a8aec39fd8466bc0b:ed1f648c4ef2b3db023b46f9d0eff149:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
