<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{928,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ak_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{68,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difficult_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,180}</string>
                <key>textureRect</key>
                <string>{{318,152},{600,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{491,0},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fade_sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{15,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fade_sprite_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1642,0},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,220}</string>
                <key>spriteSourceSize</key>
                <string>{401,220}</string>
                <key>textureRect</key>
                <string>{{1228,152},{401,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{923,152},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,350}</string>
                <key>spriteSourceSize</key>
                <string>{450,350}</string>
                <key>textureRect</key>
                <string>{{554,377},{450,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1497,0},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,124}</string>
                <key>spriteSourceSize</key>
                <string>{244,124}</string>
                <key>textureRect</key>
                <string>{{1113,0},{244,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{154,170}</string>
                <key>textureRect</key>
                <string>{{159,152},{154,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_wrapper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1366,768}</string>
                <key>spriteSourceSize</key>
                <string>{1366,768}</string>
                <key>textureRect</key>
                <string>{{0,921},{1366,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,300}</string>
                <key>spriteSourceSize</key>
                <string>{549,300}</string>
                <key>textureRect</key>
                <string>{{0,377},{549,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{87,0},{80,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,539}</string>
                <key>spriteSourceSize</key>
                <string>{800,539}</string>
                <key>textureRect</key>
                <string>{{1009,377},{800,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pistol_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{558,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pistol_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{30,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,75}</string>
                <key>spriteSourceSize</key>
                <string>{314,75}</string>
                <key>textureRect</key>
                <string>{{172,0},{314,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reload_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1362,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{154,170}</string>
                <key>textureRect</key>
                <string>{{0,152},{154,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shootgun_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,120}</string>
                <key>textureRect</key>
                <string>{{743,0},{180,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shootgun_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{49,0},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{1809,1689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd97b9605b9d6d46414b87ecba5ed24:f42ef944739f34eee93faae1fc758def:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
